<h3>
  <a href="#" class="login" routerLink="/login">Login</a>
  <a href="#" class="signup" routerLink="/signup">Signup</a>
</h3>
<div class="col">
  <li><a href="https://twitter.com"><i id="icon" class="fab fa-twitter"></i> with Twitter</a></li>
  <li><a href="#"><i id="icon" class="fab fa-github"></i> with GitHub</a></li>
  <li><a href="#"><i id="icon" class="fab fa-google"></i> with Google</a></li>
  <li><a href="#"><i id="icon" class="fab fa-facebook"></i> with Meta</a></li>
</div>
<form class="form"><router-outlet></router-outlet></form>

